* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
    padding: 20px;
    background-color: #003293;
}

.logo {
    cursor: pointer;
}

.logo img {
    height: 50px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    transition: background-color 0.3s;
}

.underline-on-hover {
    position: relative;

    color: white;
    cursor: pointer;
    overflow: hidden;
}

.underline-on-hover::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease, left 0.5s ease;
}

.underline-on-hover:hover::before {
    width: 100%;
    left: 0;
}